<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title> Overblik over bilerne</title>
    <link rel="stylesheet" th:href="@{/style.css}">
</head>

<body>

<div class="intro-bilListe">
    <h1>Liste over bilerne </h1>
</div>

<div class="tabeloverskrift-bil">
    <table>
     <thead>
     <tr>
         <th> Bil Id</th>
         <th> Stel Nummer</th>
         <th> Mærke</th>
         <th> Model</th>
         <th> udstyrsniveau</th>
         <th> Status</th>
         <th> Reg Afgift</th>
         <th> Co2 Udledning</th>

     </tr>
     </thead>
    </table>
</div>

<tbody>
<tr th:each="bil: ${bilOverblik}">
    <td th:text="${bil.stelNr}"></td>
    <td th:text="${bil.maerke}"></td>
    <td th:text="${bil.model}"></td>
    <td th:text="${bil.udstyrsniveau}"></td>
    <td th:text="${bil.status}"></td>
    <td th:text="${bil.regAfgift}"></td>
    <td th:text="${bil.co2Udledning}"></td>

    <td>
        <!-- Slet en bil-->
        <form th:action="@{'/slet-bil/' + ${bil.bilId}} " method="post"
              onsubmit="return confirm('Er du sikker på, at du vil slette denne bil?')">

            <button type="submit" class="slet-knap">Slet</button>
        </form>


        <!-- opret bil knappen-->
        <div class="opret-bil">
            <a href="/opretBil">
                <button class="opret-knap">Opret ny lejekontrakt</button>
            </a>
        </div>


    </td>
</tr>

</tbody>

</body>

</html>