<!DOCTYPE html>
<html lang="en">


<head>
    <meta charset="UTF-8">
    <title>Kunde Overblik</title>
    <link rel="stylesheet"  th:href="@{/style.css}">
</head>



<body>

<div class="intro-kundeOverblik">
    <h1>Overblik over kunder</h1>
</div>

<div class="tabelOversigt-kunder">
    <table>
        <thead>
        <tr>
            <th>Kunde ID</th>
            <th>Navn</th>
            <th>Adresse</th>
            <th>Telefon Nr</th>
            <th>Email</th>
            <th>Handlinger</th>
        </tr>
        </thead>

        <tbody>
        <tr th:each="kunde : ${kundeOverblik}">
            <td th:text="${kunde.kundeId}"></td>
            <td th:text="${kunde.navn}"></td>
            <td th:text="${kunde.adresse}"></td>
            <td th:text="${kunde.telefonnr}"></td>
            <td th:text="${kunde.email}"></td>
            <td>
                <form th:action="@{'/slet-kunde/' + ${kunde.kundeId}}" method="get"
                      onsubmit="return confirm('Er du sikker på, at du vil slette denne kunde?');"
                      style="display: inline;">
                    <button type="submit" class="slet-knap">Slet</button>
                </form>
                <a th:href="@{'/updateKunde/' + ${kunde.kundeId}}">
                    <button class="update-knap">Rediger</button>
                </a>
            </td>
        </tr>
        </tbody>
    </table>
</div>

<div class="opret-kundeknap">
    <a th:href="@{/opretKunde}"><button>Opret kunde</button></a>
</div>

<div class="update-kundeknap">
    <a th:href="@{/updateKunde}"><button>Opdater kunde</button></a>
</div>
</body>


</html>