<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet"  th:href="@{/style.css}">
    <meta charset="UTF-8">
    <title>Overblik over lejekontrakterne</title>
</head>



<body>

<!-- MENUBAR -->
<nav class="menubar">
    <ul>
        <li><a class="hovedmenu" th:href="@{/dashboard}" >Dashboard</a></li>

        <li class="dropdown">
            <a th:href="@{/bilOverblik}">Biler</a>
            <div class="dropdown-content">
                <a th:href="@{/bilOverblik}">Overblik over biler</a>
                <a th:href="@{/opretBil}">Opret ny bil</a>
            </div>
        </li>

        <li class="dropdown">
            <a th:href="@{/lejekontraktOverblik}">Lejekontrakter</a>
            <div class="dropdown-content">
                <a th:href="@{/lejekontraktOverblik}">Overblik lejekontrakter</a>
                <a th:href="@{/opretLejekontrakt}">Opret lejekontrakt</a>
            </div>
        </li>

        <li class="dropdown">
            <a th:href="@{/kundeOverblik}">Kunder</a>
            <div class="dropdown-content">
                <a th:href="@{/kundeOverblik}">Overblik over kunder</a>
                <a th:href="@{/opretKunde}">Opret kunde</a>

            </div>
        </li>

        <li class="dropdown">
            <a th:href="@{/tilstandsrapportOverblik}">Rapporter</a>
            <div class="dropdown-content">
                <a th:href="@{/tilstandsrapportOverblik}">Tilstandsrapporter</a>
                <a th:href="@{/opretTilstandsrapport}">Opret tilstandsrapport</a>
                <a th:href="@{/skaderapportOverblik}">Skaderapporter</a>
                <a th:href="@{/opretSkaderapport}">Opret skaderapport</a>
            </div>
        </li>

        <li><a th:href="@{/logOut}">Log ud</a></li>
    </ul>
</nav>
<!-- MENUBAR SLUT-->


<div class="intro-kontraktListe">
    <h1>Liste over lejekontrakter</h1>
</div>

<div class="tabelOverskrift-lejekontrakt">
    <table>
        <thead>
        <tr>
            <th>Lejekontrakt ID</th>
            <th>Kunde ID</th>
            <th>Bil ID</th>
            <th>Start dato</th>
            <th>Slut dato</th>
            <th>Abonnementstype</th>
            <th>Pris</th>
            <th>Medarbejder ID</th>

        </tr>
        </thead>

        <tbody>
        <tr th:each="lejekontrakt : ${lejekontraktOverblik}">
            <td th:text="${lejekontrakt.kontraktId}"></td>
            <td th:text="${lejekontrakt.kundeId}"></td>
            <td th:text="${lejekontrakt.bilId}"></td>
            <td th:text="${lejekontrakt.startDato}"></td>
            <td th:text="${lejekontrakt.slutDato}"></td>
            <td th:text="${lejekontrakt.abonnementTypeNavn}"></td> <!-- er ændret for at se om det var fejlen-->
            <td th:text="${lejekontrakt.pris}"></td>
            <td th:text="${lejekontrakt.medarbejderId}"></td>

            <td>
                <form th:action="@{'/slet-lejekontrakt/' + ${lejekontrakt.kontraktId}}" method="post"
                      onsubmit="return confirm('Er du sikker på, at du vil slette denne lejekontrakt?');"
                      style="display: inline;">
                    <button type="submit" class="slet-knap">Slet</button>
                </form>

                <a th:href="@{'/updateLejekontrakt/' + ${lejekontrakt.kontraktId}}">
                    <button class="update-knap">Rediger</button>
                </a>
            </td>
        </tr>
        </tbody>
    </table>
</div>

<!-- opret lejekontrakt knappen-->
<div class="opret-knaplejekontrakt">
    <a href="/opretLejekontrakt">
        <button class="opret-knap">Opret ny lejekontrakt</button>
    </a>
</div>

<!-- Opdater knappen -->
<div class="update-knapLejekontrakt">
    <a href="/updateLejekontrakt">
        <button class="update-knap">Opdater en lejekontrakt</button>
    </a>
</div>


</body>






</html>