<!DOCTYPE html>
<html lang="en">


<head>
    <meta charset="UTF-8">
    <title>Opret en ny bil</title>
    <link rel="stylesheet" th:href="@{/style.css}">
</head>

<body>

<!-- MENUBAR -->
<nav class="menubar">
    <ul>
        <li><a class="hovedmenu"th:href="@{/dashboard}" >Dashboard</a></li>

        <li class="dropdown">
            <a th:href="@{/bilOverblik}">Biler</a>
            <div class="dropdown-content">
                <a th:href="@{/bilOverblik}">Overblik over biler</a>
                <a th:href="@{/opretBil}">Opret ny bil</a>
            </div>
        </li>

        <li class="dropdown">
            <a th:href="@{/lejekontraktOverblik}">Lejekontrakter</a>
            <div class="dropdown-content">
                <a th:href="@{/lejekontraktOverblik}">Overblik lejekontrakter</a>
                <a th:href="@{/opretLejekontrakt}">Opret lejekontrakt</a>
            </div>
        </li>

        <li class="dropdown">
            <a th:href="@{/kundeOverblik}">Kunder</a>
            <div class="dropdown-content">
                <a th:href="@{/kundeOverblik}">Overblik over kunder</a>
                <a th:href="@{/opretKunde}">Opret kunde</a>

            </div>
        </li>

        <li class="dropdown">
            <a th:href="@{/tilstandsrapportOverblik}">Rapporter</a>
            <div class="dropdown-content">
                <a th:href="@{/tilstandsrapportOverblik}">Tilstandsrapporter</a>
                <a th:href="@{/opretTilstandsrapport}">Opret tilstandsrapport</a>
                <a th:href="@{/skaderapportOverblik}">Skaderapporter</a>
                <a th:href="@{/opretSkaderapport}">Opret skaderapport</a>
            </div>
        </li>

        <li><a th:href="@{/logout}">Log ud</a></li>
    </ul>
</nav>
<!-- MENUBAR SLUT-->

<!-- MENUBAR -->
<nav class="menubar">
    <ul>
        <li><a class="hovedmenu"th:href="@{/dashboard}" >Dashboard</a></li>

        <li class="dropdown">
            <a th:href="@{/bilOverblik}">Biler</a>
            <div class="dropdown-content">
                <a th:href="@{/bilOverblik}">Overblik over biler</a>
                <a th:href="@{/opretBil}">Opret ny bil</a>
            </div>
        </li>

        <li class="dropdown">
            <a th:href="@{/lejekontraktOverblik}">Lejekontrakter</a>
            <div class="dropdown-content">
                <a th:href="@{/lejekontraktOverblik}">Overblik lejekontrakter</a>
                <a th:href="@{/opretLejekontrakt}">Opret lejekontrakt</a>
            </div>
        </li>

        <li class="dropdown">
            <a th:href="@{/kundeOverblik}">Kunder</a>
            <div class="dropdown-content">
                <a th:href="@{/kundeOverblik}">Overblik over kunder</a>
                <a th:href="@{/opretKunde}">Opret kunde</a>

            </div>
        </li>

        <li class="dropdown">
            <a th:href="@{/tilstandsrapportOverblik}">Rapporter</a>
            <div class="dropdown-content">
                <a th:href="@{/tilstandsrapportOverblik}">Tilstandsrapporter</a>
                <a th:href="@{/opretTilstandsrapport}">Opret tilstandsrapport</a>
                <a th:href="@{/skaderapportOverblik}">Skaderapporter</a>
                <a th:href="@{/opretSkaderapport}">Opret skaderapport</a>
            </div>
        </li>

        <li><a th:href="@{/logOut}">Log ud</a></li>
    </ul>
</nav>
<!-- MENUBAR SLUT-->


<div class="intro-opretBil">
    <h1>Opret bil</h1>
</div>

<div class="tabel-opretBil">
   <form th:action="@{/opretBil}" th:object="${bil}" method="post">

       <label for="stelNr"> Stelnummer:</label>
       <input type="text" id="stelNr" th:field="*{stelNr}" required>

       <label for="maerke"> Mærke: </label>
       <input type="text" id="maerke" th:field="*{maerke}" required>

       <label for="model"> Model: </label>
       <input type="text" id="model" th:field="*{model}" required>

       <label for="udstyrsniveau"> Udstyrsniveau: </label>
       <input type="text" id="udstyrsniveau" th:field="*{udstyrsniveau}" required>

       <label for="status"> Status:</label>
       <select id="status" th:field="*{status}" required>
         <option value=""> Vælg bilens status: </option>
         <option value="LEDIG" >Ledig</option>
         <option value="UDLEJET">Udlejet</option>
       </select>

      <label for="regAfgift"> reg afgift: </label>
       <input type="number" id="regAfgift" th:field="*{regAfgift}" required>

       <label for="co2Udledning"> co2 udledning: </label>
       <input type="number" id="co2Udledning" th:field="*{co2Udledning}" required>

       <button type="submit">Opret bil</button>

   </form>

    <div class="tilbage-knap">
        <a th:href="@{/bilOverblik.html}"><button>Tilbage</button></a>
    </div>


</div>


</body>

</html>